@import "reset"

body
  background: url("blueprint.gif") repeat center top
  color: #dfebf4
  font-family: "Trade Gothic W01 Roman", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 20px

#container
  margin: 120px auto
  padding: 0 20px
  width: 525px

h1
  color: #fff
  font-family: "Trade Gothic W01 Roman", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 36px
  font-weight: normal
  line-height: 52px
  margin-bottom: 12px
  > a
    font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: bold
    letter-spacing: 3px
    text-transform: uppercase

h2
  color: #fff
  font-family: "Trade Gothic W01 Bold 2", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 24px
  font-weight: bold
  line-height: 28px

a
  color: #fff
  font-weight: bold
  text-decoration: none

p
  margin: 0 0 20px

small
  font-size: 13px

header
  height: 182px
  -webkit-animation: slideIn 1s ease
  -moz-animation:    slideIn 1s ease
  > p
    > a:after
      content: " →"
    > a:hover:after
      padding-left: 3px

@-webkit-keyframes slideIn
  0%
    opacity: 0
    -webkit-transform: translateX(130px)
@-moz-keyframes slideIn
  0%
    opacity: 0
    -moz-transform: translateX(130px)

.project
  background: rgba(255,255,255,0.1)
  border: 1px solid rgba(255,255,255,0.5)
  color: #dfebf4
  display: block
  font-weight: normal
  height: 110px
  margin: 40px 0
  padding: 35px 40px
  -webkit-transition: background 100ms linear
  -moz-transition:    background 100ms linear
  -webkit-animation: fadeIn 1s ease
  -moz-animation:    fadeIn 1s ease
  &:hover
    background: rgba(255,255,255,0.15)

@-webkit-keyframes fadeIn
  0%
    opacity: 0
    -webkit-transform: translateY(30px)
@-moz-keyframes fadeIn
  0%
    opacity: 0
    -moz-transform: translateY(30px)
